:root {
  --link-color: #4C1D95;
  --primary-color: #7C3AED;
  --secondary-color: #6B21A8;
  --gradient-color: #A78BFA;
  --accent-color: #FFFFFF;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 24px;
  background-color: var(--accent-color);
  /* position: fixed;
  width: 100%;
  z-index: 100;
  top: 0; */
}

.link_logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo_ico {
  max-width: 30px;
  aspect-ratio: 1/1;
}

.link_logo h2 {
  color: var(--primary-color);
}

nav.nav_links {
  display: flex;
  align-items: center;
  gap: 35px;
}

nav.nav_links a {
  color: var(--link-color);
  text-decoration: none;
  
}

.auth_buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.auth_buttons a {
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: var(--small);
  text-decoration: none;
}

.auth_buttons .btn_primary {
  box-shadow: 0 0 0 2px var(--primary-color) inset;
  color: var(--primary-color); 
  
}

.auth_buttons .btn_secondary {
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--gradient-color) 100%);
  color: var(--accent-color);
}

.user_icon {
  background: linear-gradient(135deg, #7C3AED 0%, #A78BFA 100%);
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--accent-color);
}