.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration_container {
  display: flex;
  overflow: hidden;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  align-self: center;
  box-shadow: 0px 20px 60px 0px #7C3AED33;
  transform: scale(0.75);
}

@media (max-width: 1024px) {
  .content {
    display: flex;
    align-items: unset;
  }

  .registration_container {
    border-radius: 0;
    align-self: unset;
    transform: unset;
  }
}

@media (min-height: 900px) and (max-width: 1024px) {
  .registration_container {
    height: 100%;
  }
}